<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>9-24</title>
    <script src="../vue.js"></script>
</head>
<body>
<table>
    <tr>
        <td>32</td>
        <td>23</td>
        <td>131</td>
        <td>4325</td>
        <td>321</td>
        <td>43</td>
    </tr>
    <tr>
        <td>"ddsangkljds</td>
        <td>asdfjk</td>
        <td>sadfjds</td>
        <td>sadjfk</td>
        <td>asf</td>
        <td>4sdf</td>
    </tr>
</table>
<ol id="ol">
    <li v-for="(each,index) in group">
        The index value is : {{index}}
        <br/>

        And{{each.name}}:{{each.info.age}},and the gender is {{each.info.gender}}
        <br>
        Ins:{{each.info.ins}}
        <br>
        What:{{each.info.what}}
    </li>
</ol>
<ul id="ul">
    <li v-for=" (itemValue,name,index) in obj ">{{index}}=the title is{{name}}:{{itemValue}} </li>
</ul>

<ul id="app">
    <li v-for="n in even(nums)"> {{ n }}</li>
</ul>
<div id="ff">
    <span v-for="i in 10">{{i}}</span>
</div>
<ol class="tm" v-if="items.length===6" >
    <template v-for="item in items" v-if="!(item.ok==='no')">
        <li >{{item.msg}}</li>
    </template>
</ol>
<script>
    var tm =  new Vue({
        el:'.tm',
        data:{
            items:[
                {msg:'1TTTTTTTTTTT',ok:'yes'},
                {msg:'2TTTTTTTTTTT',ok:'no'},
                {msg:'3TTTTTTTTTTT',ok:'yes'},
                {msg:'TTTTTTTTTTT',ok:'no'},
                {msg:'5TTTTTTTTTTT',ok:'yes'},
                {msg:'TTTTTTTTTTT',ok:'no'},
            ]
        }
    });
    var ff = new Vue({
        el:'#ff'
    });
    var app = new Vue({
        el:'#app',
        data:{
          nums:[
              1,2,3,4,5
          ]
        },
        methods:{
            even:function () {
                return this.nums.filter(function (number) {
                    return number%2 === 0;
                });
            },
        },

    })

</script>
<div id="exm1">
    <button v-on:click="counter+=1">Add 1</button>
    <p>The button above has been clicked {{counter}} items</p>
</div>


<script src="2019-9-24.js"></script>
</body>
</html>